<div id="footer-content" class="block block-1-line  append-bottom last">
	<div class="referencement">
		{% render "EyeswebcreaReferencementBundle:Default:listReference" %}
	</div>
</div>
<div id="footer-real" class="block container prepend-top">
	<p>Cheminées Mario| <a href="mailto:gq@eyeswebcrea.fr">Webmaster</a> | conception Eyeswebcrea 2013 - 2015</p>
	<p id="email-link"><a target="blank" rel="nofollow" href="https://mail.cheminee-mario.com/">E-mail</a></p>
</div>
