    				<div class="zone-logo span-8">
    					<div class="span-3">
    						<img class="image-logo" src="/images/Logo.png">
    					</div>
    					<div class="span-5 last">
    						<h1 class="title span-4 last">Cheminée Mario</h1> 
    					</div> 
    				</div>
    				<div class="zone-menu span-14 block block-2-line">
    						<div class="menu span-16 block block-2-line last">{{ knp_menu_render('SittlerHomeBundle:MainBuilder:build') }}</div>
    						<div class="telephone span-14">
    							<p class="tel">01 74 34 99 61</p>
    						</div>
    				</div>
    				<div class="t-header span-18">
    					<h3 class="text-header span-12 block block-1-line">Spécialiste des Cheminées, Poëles et Inserts</h3>
    				</div>  